{% extends 'base.html' %}
{% do active_elements.append('#nav-e-host') %}
{% do active_elements.append('#nav-li-host-%d' % host.id) %}
{% from 'macros/buttons.html' import mk_form_button, mk_link_button %}
{% block title %}{{ host.hostname }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="nav-se-host-overview">
                    <a href="{{ url_for('host_details', host_id=host.id) }}">
                        <span class="sidebar-label">Info</span>
                        <i class="fa fa-tachometer fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-policies">
                    <a href="{{ url_for('host_policies', host_id=host.id) }}">
                        <span class="sidebar-label">Policies</span>
                        <i class="fa fa-clipboard fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-disksafes">
                    <a href="{{ url_for('host_disksafes', host_id=host.id) }}">
                        <span class="sidebar-label">Disk Safes</span>
                        <i class="fa fa-key fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-agents">
                    <a href="{{ url_for('host_agents', host_id=host.id) }}">
                        <span class="sidebar-label">Agents</span>
                        <i class="fa fa-desktop fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-recovery-points">
                    <a href="{{ url_for('host_recovery_points', host_id=host.id) }}">
                        <span class="sidebar-label">Recovery Points</span>
                        <i class="fa fa-cubes fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-task-history">
                    <a href="{{ url_for('host_task_history', host_id=host.id) }}">
                        <span class="sidebar-label">Task History</span>
                        <i class="fa fa-list fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-users">
                    <a href="{{ url_for('host_users', host_id=host.id) }}">
                        <span class="sidebar-label">Users</span>
                        <i class="fa fa-user fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-groups">
                    <a href="#">
                        <span class="sidebar-label">Groups</span>
                        <i class="fa fa-users fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-volumes">
                    <a href="{{ url_for('host_volumes', host_id=host.id) }}">
                        <span class="sidebar-label">Volumes</span>
                        <i class="fa fa-book fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-configuration">
                    <a href="{{ url_for('host_configuration', host_id=host.id) }}">
                        <span class="sidebar-label">Configuration</span>
                        <i class="fa fa-cogs fa-lg fa-fw pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                <strong>{{ host.hostname }}</strong>
                <small class="pull-right">
                {% block host_sub_header %}User: {{ host.username }}{% endblock %}
                </small>
            </h1>
            {% block host_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
