{% extends 'host/base.html' %}
{% do active_elements.append('#nav-se-host-disksafes') %}
{% set current_host_view = 'host_disksafes' %}
{% block title %}Disk Safes - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ disksafes|length }} Disk Safes{% endblock %}
{% block host_content %}
<div class="row">
    <div class="pull-right">
        {{ mk_link_button('#',
                'Add New Disk Safe', 'plus', 'success', size='') }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="disksafes-list-table" class="table">
                <thead>
                    <tr>
                        <th>Open</th>
                        <th>Name</th>
                        <th>Recovery Points</th>
                        <th>Devices</th>
                        <th>On Disk Size</th>
                        <th>Delta Size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for disksafe in disksafes %}
                    <tr id="{{ disksafe.id }}">
                        <td>{{ disksafe.open|iconize }}</td>
                        <td><a href="{{ url_for('disksafe_details', host_id=host.id, disksafe_uuid=disksafe.id) }}">{{ disksafe.description }}</a></td>
                        <td>{{ disksafe.recoveryPointCount }}</td>
                        <td>{{ disksafe.deviceCount }}</td>
                        <td>{{ disksafe.bytesOnDisk|naturalsize }}</td>
                        <td>{{ disksafe.sizeOfDeltasInDiskSafe|naturalsize }}</td>
                        <td>
                            {{ mk_link_button('#',
                                    'Edit', 'pencil-square-o') }}
                            {% if disksafe.open %}
                            {{ mk_form_button(url_for('host_disksafes_close', host_id=host.id, ds_uuid=disksafe.id),
                                    'Close', 'pause', 'info') }}
                            {% else %}
                            {{ mk_form_button(url_for('host_disksafes_open', host_id=host.id, ds_uuid=disksafe.id),
                                    'Open', 'play', 'success') }}
                            {% endif %}
                            {{ mk_form_button(url_for('host_disksafes_detach', host_id=host.id, ds_uuid=disksafe.id),
                                    'Detach', 'chain-broken') }}
                            {{ mk_form_button(url_for('host_disksafes_delete', host_id=host.id, ds_uuid=disksafe.id),
                                    'Delete', 'times', 'danger') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    $(function () {
        $("#nav-filter-input").show().attr({
            'data-column': "1"
        });
        var table = $("#disksafes-list-table").tablesorter({
            sortList: [[4,1]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#nav-filter-input"),
                filter_columnFilters: false,
            }
        })
    });
</script>
{% endblock %}
