{% extends 'host/base.html' %}
{% do active_elements.append('#nav-se-host-policies') %}
{% set current_host_view = 'host_policies' %}
{% block title %}Policies - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ policies|length }} Policies{% endblock %}
{% block host_content %}
<div class="row">
    <div class="pull-right">
        {{ mk_link_button('#',
                'Add New Policy', 'plus', 'success', size='') }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="policies-list-table" class="table">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>State</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Frequency</th>
                        <th>Last Run Time</th>
                        <th>Next Run Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for policy in policies %}
                    <tr id="{{ policy.id }}">
                        <td>{{ policy.enabled|iconize }}</td>
                        <td>{{ policy.state|iconize }}</td>
                        <td><a href="{{ url_for('policy_details', host_id=host.id, policy_uuid=policy.id) }}">{{ policy.name }}</a></td>
                        <td>{{ policy.description }}</td>
                        <td>{{ policy.replicationScheduleFrequencyType|capitalize }}</td>
                        <td>{% if policy.lastReplicationRunTime is defined %}{{ policy.lastReplicationRunTime.replace(microsecond=0) }}{% endif %}</td>
                        <td>{{ policy.nextReplicationRunTime }}</td>
                        <td>
                            {{ mk_link_button('#',
                                    'Edit', 'pencil-square-o', show_text=False) }}
                            {{ mk_form_button(url_for('host_policies_run', host_id=host.id, policy_uuid=policy.id),
                                    'Run', 'play', 'primary', show_text=False) }}
                            {{ mk_form_button(url_for('host_policies_disksafe_verify', host_id=host.id, policy_uuid=policy.id),
                                    'Verify', 'check', 'success', show_text=False) }}
                            {% if policy.enabled %}
                            {{ mk_form_button(url_for('host_policies_disable', host_id=host.id, policy_uuid=policy.id),
                                    'Disable', 'circle', 'danger', show_text=False) }}
                            {% else %}
                            {{ mk_form_button(url_for('host_policies_enable', host_id=host.id, policy_uuid=policy.id),
                                    'Enable', 'circle', 'success', show_text=False) }}
                            {% endif %}
                            {{ mk_form_button(url_for('host_policies_delete', host_id=host.id, policy_uuid=policy.id),
                                    'Delete', 'times', 'danger', show_text=False, submit_method='DELETE') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    $(function () {
        $("#nav-filter-input").show().attr({
            'data-column': "2,3"
        });
        var table = $("#policies-list-table").tablesorter({
            sortList: [[2,0]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#nav-filter-input"),
                filter_columnFilters: false,
                filter_hideFilters: true,
            }
        })
    });
</script>
{% endblock %}
