{% extends 'host/base.html' %}
{% do active_elements.append('#nav-se-host-task-history') %}
{% block title %}Task History - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ tasks|length }} Tasks from the past {{ config['R1SOFT_TASK_HISTORY_DAYS'] }} days{% endblock %}
{% block host_content %}
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <table id="tasks-list-table" class="table">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Alert</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Agent</th>
                        <th>Scheduled Time</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Run Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                {% if task.taskType %}
                    <tr id="{{ task.id }}">
                        <td>{{ task.taskState|iconize }}</td>
                        <td>{% if task.alertIDs %}{{ 'ALERT'|iconize }}{% endif %}</td>
                        <td>{{ task.taskType|iconize }}</td>
                        <td><a href="{{ url_for('task_details', host_id=host.id, task_uuid=task.id) }}">{{ task.taskType|replace('_', ' ')|title }}</a></td>
                        <td>{{ task.agentId }}</td>
                        <td>{{ task.scheduledTime.replace(microsecond=0) }}</td>
                        {% if task.executionTime %}
                        <td>{{ task.executionTime.replace(microsecond=0) }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if task.completionTime %}
                        <td>{{ task.completionTime.replace(microsecond=0) }}</td>
                        {% set runtime = task.completionTime - task.executionTime %}
                        <td>{{ runtime.__class__(runtime.days, runtime.seconds) }}</td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    $(function () {
        $("#nav-filter-input").show().attr({
            'data-column': "2,3"
        });
        var table = $("#tasks-list-table").tablesorter({
            sortList: [[5,1]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#nav-filter-input"),
                filter_columnFilters: false,
            }
        })
    });
</script>
{% endblock %}
