{% extends 'host/base.html' %}
{% do active_elements.append('#nav-se-host-users') %}
{% set current_host_view = 'host_users' %}
{% block title %}Users - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ users|length }} Users{% endblock %}
{% block host_content %}
<div class="row">
    <div class="pull-right">
        {{ mk_link_button('#',
                'Add New User', 'plus', 'success', size='') }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="data-list-table" class="table">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>Type</th>
                        <th>Username</th>
                        <th>Authentication Type</th>
                        <th>Use LDAP</th>
                        <th>Attributes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr id="{{ user.id }}">
                        <td>{{ user.enabled|iconize }}</td>
                        <td>{{ user.userType|iconize }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.authenticationType }}</td>
                        {% if user.useLDAPAuthentication is defined %}
                        <td>{{ user.useLDAPAuthentication|iconize }}</td>
                        {% else %}
                        <td>{{ 'DISABLED'|iconize }}</td>
                        {% endif %}
                        <td>{{ user.userAttributes }}</td>
                        <td>
                            {{ mk_link_button('#',
                                    'Edit', 'pencil-square-o') }}
                        {#  # turns out this not actually something we can implement as easily
                            # as the other form actions, will need to update the user object
                            # instead of just an api call to en/disable
                            {% if user.enabled %}
                            {{ mk_form_button(url_for('host_users_disable', host_id=host.id, user_uuid=user.id),
                                    'Disable', 'circle', 'danger') }}
                            {% else %}
                            {{ mk_form_button(url_for('host_users_enable', host_id=host.id, user_uuid=user.id),
                                    'Enable', 'circle', 'success') }}
                            {% endif %}
                        #}
                            {{ mk_form_button(url_for('host_users_delete', host_id=host.id, user_uuid=user.id),
                                    'Delete', 'times', 'danger') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    $(function () {
        $("#nav-filter-input").show().attr({
            'data-column': "2"
        });
        var table = $("#data-list-table").tablesorter({
            sortList: [[2,0]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#nav-filter-input"),
                filter_columnFilters: false,
            }
        })
    });
</script>
{% endblock %}
