<div class="table-pager">
    <button class="btn btn-default table-pager-first">
        <i class="fa fa-fast-backward fa-lg"></i>
    </button>
    <button class="btn btn-default table-pager-prev">
        <i class="fa fa-backward fa-lg"></i>
    </button>
    <select class="table-pager-page-size form-control" title="Select page size" style="width: auto; display: inline">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
    <span class="table-pager-page-display"></span>
    <select class="table-pager-page-select form-control" title="Select page" style="width: auto; display: inline">
    </select>
    <button class="btn btn-default table-pager-next">
        <i class="fa fa-forward fa-lg"></i>
    </button>
    <button class="btn btn-default ts-pager-last">
        <i class="fa fa-fast-forward fa-lg"></i>
    </button>
</div>
