{% for disksafe, recovery_points in collection_data.iteritems() %}
    {% for recovery_point in recovery_points %}
<tr id="{{ disksafe.id }}:{{ recovery_point.recoveryPointID }}">
    <td>{{ recovery_point.recoveryPointID }}</td>
    <td>{{ recovery_point.createdOnTimestampInMillis|ms_to_datetime }}</td>
    <td>{{ recovery_point.recoveryPointState|iconize }}</td>
    <td>{{ recovery_point.devices|length }}</td>
    <td>
        <a href="{{ url_for('host_agent_recovery_points_browse', host_id=host.id, ds_uuid=disksafe.id, rp_id=recovery_point.recoveryPointID) }}">
            <i title="Browse" class="fa fa-folder-open fa-lg text-warning">&nbsp;</i>
        </a>
        <a href="#">
            <i title="Merge" class="fa fa-times fa-lg text-danger">&nbsp;</i>
        </a>
        <a href="#">
            <i title="Lock" class="fa fa-lock fa-lg">&nbsp;</i>
        </a>
    </td>
</tr>
    {% endfor %}
{% endfor %}
