{%- macro mk_button(name, type='submit', icon='question-circle', color='default', size='xs', show_text=True) -%}
<button type="{{ type }}" class="btn{% if size %} btn-{{ size }}{% endif %}{% if size != 'xs' %} btn-{{ color }}{% else %} btn-default{% endif %}">
    <i title="{{ name }}"
            class="fa fa-{{ icon }} fa-lg{% if size == 'xs' %} text-{{ color }}{% endif %}{% if show_text %} icon-space-right{% endif %}"></i>
    {%- if show_text -%}
    {{ name }}
    {%- endif -%}
</button>
{%- endmacro -%}

{%- macro mk_link_button(url, name, icon='question-circle', color='default', size='xs', show_text=True) -%}
<a class="btn{% if size != '' %} btn-{{ size }}{% endif %}{% if size != 'xs' %} btn-{{ color }}{% else %} btn-default{% endif %}" href="{{ url }}">
    <i title="{{ name }}"
            class="fa fa-{{ icon }} fa-lg{% if size == 'xs' %} text-{{ color }}{% endif %}{% if show_text %} icon-space-right{% endif %}"></i>
    {%- if show_text -%}
    {{ name }}
    {%- endif -%}
</a>
{%- endmacro -%}

{%- macro mk_form_button(url, name, icon='question-circle', color='default', size='xs', show_text=True) -%}
<form action="{{ url }}" method="POST" class="rac-single-button-form"
        title="{{ name }}">
    {{ mk_button(name, icon=icon, color=color, size=size, show_text=show_text) }}
</form>
{%- endmacro -%}
