{% extends 'host/agents.html' %}
{% block title %}{{ agent.hostname }} - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ agent.hostname }}{% endblock %}
{% block host_content %}
<div class="row">
    <div class="col-md-6">
        <ul class="list-inline">
            {% for link in obj_attr_filter(links, 'agent_uuid', agent.id) %}
            <li>
                {{ mk_link_button(link.disksafe_url,
                        'Disk Safe', 'key', 'success', size='') }}
                {{ mk_link_button(link.policy_url,
                        'Policy', 'clipboard', 'success', size='') }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-offset-6 col-md-6">
        <ul class="list-inline pull-right">
            {% for link in links %}
            {% if link.agent_uuid != agent.id %}
            <li>
                {{ mk_link_button(link.agent_url,
                        link.host.hostname, 'at', 'primary', size='') }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Server-side</h3>
        <dl class="dl-horizontal">
            {% for k in agent.__keylist__ %}
            <dt>{{ k }}</dt>
            <dd>{{ agent[k] }}</dd>
            {% endfor %}
        </dl>
    </div>
    {% if agent_opts %}
    <div class="col-md-6 pull-right">
        <h3>Client-side</h3>
        <dl class="dl-horizontal">
            {% for k in agent_opts.__keylist__ %}
            <dt>{{ k }}</dt>
            <dd>{{ agent_opts[k] }}</dd>
            {% endfor %}
        </dl>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block customjs %}{% endblock %}
