{% extends 'host/disksafes.html' %}
{% block title %}{{ disksafe.description }} - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ disksafe.description }}{% endblock %}
{% block host_content %}
<div class="row">
    <div class="col-md-6">
        <ul class="list-inline">
            {% for link in obj_attr_filter(links, 'disksafe_uuid', disksafe.id) %}
            <li>
                {{ mk_link_button(link.agent_url,
                        'Agent', 'desktop', 'success', size='') }}
                {% if link.policy_uuid %}
                {{ mk_link_button(link.policy_url,
                        'Policy', 'clipboard', 'success', size='') }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            {% for k in disksafe.__keylist__ %}
            <dt>{{ k }}</dt>
            {% if k in ('deviceList', 'diskSafeAttributeMap') %}
            <dd><em>(not shown)</em></dd>
            {% else %}
            <dd>{{ disksafe[k] }}</dd>
            {% endif %}
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}
{% block customjs %}{% endblock %}
