{% extends 'host/policies.html' %}
{% block title %}{{ policy.name }} - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ policy.name }}{% endblock %}
{% block host_content %}
<div class="row">
    <div class="col-md-6">
        <ul class="list-inline">
            {% for link in obj_attr_filter(links, 'policy_uuid', policy.id) %}
            <li>
                {{ mk_link_button(link.agent_url,
                        'Agent', 'key', 'success', size='') }}
                {{ mk_link_button(link.disksafe_url,
                        'Disk Safe', 'key', 'success', size='') }}
            </li>
            {% endfor %}
            {% if task_link %}
            <li>
                {{ mk_link_button(task_link,
                        'Most Recent Task', 'search', 'danger' if policy.state == 'ERROR' else 'warning', size='') }}
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-offset-6 col-md-6">
        <ul class="list-inline pull-right">
            {% for link in links %}
            {% if link.policy_uuid != policy.id %}
            <li>
                {{ mk_link_button(link.policy_url,
                        link.host.hostname, 'at', 'primary', size='') }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            {% for k in policy.__keylist__ %}
            <dt>{{ k }}</dt>
            {% if k in ('databaseInstanceList') %}
            <dd><em>(not shown)</em></dd>
            {% else %}
            <dd>{{ policy[k] }}</dd>
            {% endif %}
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}
{% block customjs %}{% endblock %}
