{% extends 'host/task_history.html' %}
{% set task_name = task.taskType|replace('_', ' ')|title %}
{% block title %}Task: {{ task_name }} - {{ super() }}{% endblock %}
{% block head %}
{{ super() }}
{% if task.taskState == 'RUNNING' %}
<meta http-equiv="refresh" content="{{ config['RUNNING_TASK_REFRESH_INTERVAL'] }}">
{% endif %}
{% endblock head %}
{% block host_sub_header %}{{ task_name }}{% endblock %}
{% block host_content %}
<div class="row">
    <div class="col-md-12">
        <ul class="list-inline">
            {% if link %}
            <li>
                <a href="{{ link.agent_url }}" class="btn btn-success">
                    <i class="fa fa-desktop fa-lg icon-space-right"></i>
                    Agent
                </a>
                <a href="{{ link.disksafe_url }}" class="btn btn-success">
                    <i class="fa fa-key fa-lg icon-space-right"></i>
                    Disksafe
                </a>
                <a href="{{ link.policy_url }}" class="btn btn-success">
                    <i class="fa fa-clipboard fa-lg icon-space-right"></i>
                    Policy
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="row col-md-12">
        <dl class="dl-horizontal">
            {% for k in task.__keylist__ %}
            {% if k not in ('alerts', 'alertIDs', 'logMessageIDs', 'logMessages', 'mergeStatistics', 'fileRestoreStatistics') %}
            <dt>{{ k }}</dt>
            <dd>{{ task[k] }}</dd>
            {% endif %}
            {% endfor %}
        </dl>
    </div>
    {% if task.taskState == 'RUNNING' and task.taskType in ('FILE_RESTORE', 'MERGE_RECOVERY_POINTS') %}
    {% if task.mergeStatistics %}
    <div class="row col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label>Elapsed Time</label>
                {{ task.mergeStatistics.currentTotalTimeElapsedMillis|ms_to_timedelta|naturaldelta }}
            </div>
            <div class="pull-right col-md-2">
                <label>Devices:</label>
                {{ task.mergeStatistics.deviceCount }} / {{ task.mergeStatistics.finishedDeviceCount }}
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progress-bar"
                    aria-valuenow="{{ task.mergeStatistics.progressPercentValue }}"
                    aria-valuemin="0" aria-valuemax="100"
                    style="width: {{ task.mergeStatistics.progressPercentValue|int }}%;">
                <span class="sr-only">{{ task.mergeStatistics.progressPercentValue }}</span>
            </div>
        </div>
    </div>
    {% elif task.fileRestoreStatistics %}
    <div class="row col-md-12">
        <label>Files Restored</label>
        <span class="text-success">{{ task.fileRestoreStatistics.totalSuccessfulRestores }}</span>+<span class="text-danger">{{ task.fileRestoreStatistics.totalFailedRestores }}</span> / ~{{ task.fileRestoreStatistics. estimatedFilesToBeRestored }}
    </div>
    {% endif %}
    {% endif %}
    {% if task.alerts %}
    <h2>Alerts</h2>
    <div class="row col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            {% for alert in task.alerts %}
                <tr id="alert-id-{{ alert.alertID }}">
                    <td>{{ alert.alertTime.replace(microsecond=0) }}</td>
                    <td>{{ alert.alertString }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if task.logMessages %}
    <h2>Logs</h2>
    <div class="row col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Level</th>
                    <th>Source</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            {% for message in task.logMessages %}
                <tr id="message-id-{{ message.messageID }}">
                    <td>{{ message.messageTime.replace(microsecond=0) }}</td>
                    <td>{{ message.messageLevel|iconize }}</td>
                    <td>{{ message.messageSource|iconize }}</td>
                    <td>{{ message.messageString }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block customjs %}{% endblock %}
