{% extends 'host/volumes.html' %}
{% block title %}{{ volume.name }} - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ volume.name }}{% endblock %}
{% block host_content %}
<div class="row">
    <div class="row col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Volume</div>
            <div class="panel-body">
                <pre>{{ volume }}</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}{% endblock %}
