{% extends 'host_base.html' %}
{% set active_subnav_element = '#nav-se-host-agents' %}
{% block title %}{{ agent.hostname }} - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ agent.hostname }}{% endblock %}
{% block host_content %}
<div class="row">
    <div class="row col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Agent</div>
            <div class="panel-body">
                <pre>{{ agent }}</pre>
            </div>
        </div>
    </div>
    {% for link in links %}
    <div class="row col-md-12">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Policy</div>
                <div class="panel-body">
                    <pre>{{ link.policy }}</pre>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Disk Safe</div>
                <div class="panel-body">
                    <pre>{{ link.disksafe }}</pre>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
