<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        <title>{% block title %}Home{% endblock %} - R1soft Admin Console</title>
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='rac.css') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body role="document">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="https://github.com/nexcess/r1soft-admin-console" class="navbar-brand">R1soft Admin Console</a>
                    <!-- <a href="{{ url_for('dashboard') }}" class="navbar-brand">R1soft Admin Console</a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CDP Hosts <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                            {% for host in hosts %}
                                <li><a href="{{ url_for('show_host', host_id=host.id) }}">{{ host.hostname }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content" class="container" role="main">
            <div>
            {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer" class="container footer">
        {% block footer %}
        &copy; Copyright 2015 by <a href="http://www.nexcess.net/">Nexcess.net</a>.
        {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='rac.js') }}"></script>
        {% block customjs %}{% endblock %}
    </body>
</html>
