<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        <title>{% block title %}Home{% endblock %} - R1soft Admin Console</title>
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='rac.css') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body role="document">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="https://github.com/nexcess/r1soft-admin-console" class="navbar-brand">R1soft Admin Console</a>
                    <!-- <a href="{{ url_for('dashboard') }}" class="navbar-brand">R1soft Admin Console</a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% block dashboard_active %}{% endblock %}"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li class="dropdown {% block host_details_active %}{% endblock %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CDP Hosts <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                            {% for host in NAV_hosts %}
                                <li><a href="{{ url_for('host_details', host_id=host.id) }}">{{ host.hostname }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li class="{% block agent_collection_active %}{% endblock %}"><a href="{{ url_for('agent_collection') }}">Agent List</a></li>
                        <li class="{% block policy_failures_collection_active %}{% endblock %}"><a href="{{ url_for('policy_failures_collection') }}">Policy Failures</a></li>
                        <li class="{% block settings_active %}{% endblock %}"><a href="#">Settings</a></li>
                        <li>{% block profile_link %}<a href="#">Login</a>{% endblock %}</li>
                    </ul>
                    <form action="#" class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>
        <div id="content" class="container-fluid" role="main">
            <div id="message-area-container" class="col-md-12 row">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#message-area">
                        <i id="message-area-toggle" class="fa fa-plus-square pull-right"></i>
                        <h4 class="panel-title">
                            Alerts <span id="message-count" class="badge"></span>
                        </h4>
                    </div>
                    <div id="message-area" class="panel-collapse collapse" role="tabpanel">
                        {% block message_area %}{% endblock %}
                    </div>
                </div>
            </div>
        {% block content %}{% endblock %}
        </div>
        <div id="footer" class="container footer well">
        {% block footer %}
            <div class="text-center">
                &copy; Copyright 2015 by <a href="http://www.nexcess.net/">Nexcess.net</a>.
            </div>
        {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='jquery.dateFormat.js') }}"></script>
        <script src="{{ url_for('static', filename='rac.js') }}"></script>
        <script>
            $("#message-area").on("hide.bs.collapse", function() {
                $("#message-area-toggle").attr({
                    class: "fa fa-plus-square pull-right"
                });
            }).on("show.bs.collapse", function() {
                $("#message-area-toggle").attr({
                    class: "fa fa-minus-square pull-right"
                });
            }).on("DOMSubtreeModified", function() {
                var messageCount = $("#message-area>div.alert").length;
                if(messageCount > 0) {
                    $("#message-count").text(messageCount);
                    $("#message-area-container").show();
                } else {
                    $("#message-count").text("");
                    $("#message-area-container").hide();
                }
            });
            if($("#message-area>div.alert").length > 0) {
                $("#message-count").text($("#message-area>div.alert").length);
            } else {
                $("#message-area-container").hide();
            }
        </script>
        {% block customjs %}{% endblock %}
    </body>
</html>
