{% extends 'host_base.html' %}
{% block title %}{{ host.hostname }} - Agents{% endblock %}
{% block host_content %}
<div class="row">
    <h2>Agents</h2>
    <div class="row">
        <div class="col-md-12">
            <table id="agents-list-table" class="table">
                <thead>
                    <tr>
                        <th>OS</th>
                        <th>Type</th>
                        <th>Hostname</th>
                        <th>Description</th>
                        <th>Agent Version</th>
                        <th>DB Addon Enabled</th>
                    </tr>
                </thead>
                <tbody>
                {% for agent in agents %}
                    <tr id="{{ agent.id }}">
                        <td>{{ agent.osType|iconize }}</td>
                        <td>{{ agent.agentType|iconize }}</td>
                        <td><a href="{{ url_for('agent_details', host_id=host.id, agent_uuid=agent.id) }}">{{ agent.hostname }}</a></td>
                        <td>{{ agent.description }}</td>
                        <td>{{ agent.lastKnownAgentVersion }}</td>
                        <td>{{ agent.databaseAddOnEnabled|iconize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.tablesorter.widgets.js') }}"></script>
<script>
    $(function () {
        $("#nav-filter-input").prop("disabled", false).attr({
            'data-column': "2,3"
        });
        var table = $("#agents-list-table").tablesorter({
            sortList: [[2,0]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#nav-filter-input"),
                filter_columnFilters: false,
            }
        })
    });
</script>
{% endblock %}
