{% extends 'host_base.html' %}
{% set active_subnav_element = '#nav-se-host-volumes' %}
{% block title %}{{ host.hostname }} - Volumes{% endblock %}
{% block host_content %}
<div class="row">
    <h2>Volumes</h2>
    <div class="row">
        <div class="col-md-12">
            <table id="volumes-list-table" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Volume Path</th>
                        <th>On Disk Size</th>
                        <th>Deltas</th>
                    </tr>
                </thead>
                <tbody>
                {% for volume in volumes %}
                    <tr id="{{ volume.id }}">
                        <td>{{ volume.name }}</td>
                        <td>{{ volume.description }}</td>
                        <td>{{ volume.path }}</td>
                        <td>{{ volume.onDiskSize|naturalsize }}</td>
                        <td>{{ volume.sizeOfDeltas|naturalsize }} ({{ volume.sizeOfDeltas }})</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    $(function () {
        $("#nav-filter-input").show().attr({
            'data-column': "0,1,2"
        });
        var table = $("#volumes-list-table").tablesorter({
            sortList: [[3,1]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#nav-filter-input"),
                filter_columnFilters: false,
            }
        })
    });
</script>
{% endblock %}
