{% extends 'host_base.html' %}
{% do active_elements.append('#nav-se-host-policies') %}
{% block title %}Policies - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ policies|length }} Policies{% endblock %}
{% block host_content %}
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <table id="policies-list-table" class="table">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>State</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Frequency</th>
                        <th>Last Run Time</th>
                        <th>Next Run Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for policy in policies %}
                    <tr id="{{ policy.id }}">
                        <td>{{ policy.enabled|iconize }}</td>
                        <td>{{ policy.state|iconize }}</td>
                        <td><a href="{{ url_for('policy_details', host_id=host.id, policy_uuid=policy.id) }}">{{ policy.name }}</a></td>
                        <td>{{ policy.description }}</td>
                        <td>{{ policy.replicationScheduleFrequencyType|capitalize }}</td>
                        <td>{{ policy.lastReplicationRunTime.replace(microsecond=0) }}</td>
                        <td>{{ policy.nextReplicationRunTime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    $(function () {
        $("#nav-filter-input").show().attr({
            'data-column': "2,3"
        });
        var table = $("#policies-list-table").tablesorter({
            sortList: [[2,0]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#nav-filter-input"),
                filter_columnFilters: false,
                filter_hideFilters: true,
            }
        })
    });
</script>
{% endblock %}
