{% extends 'base.html' %}
{% do active_elements.append('#nav-e-host') %}
{% block title %}{{ host.hostname }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="nav-se-host-overview">
                    <a href="{{ url_for('host_details', host_id=host.id) }}">
                        Overview<i class="fa fa-tachometer pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-policies">
                    <a href="{{ url_for('host_policies', host_id=host.id) }}">
                        Policies<i class="fa fa-clipboard pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-disksafes">
                    <a href="{{ url_for('host_disksafes', host_id=host.id) }}">
                        Disk Safes<i class="fa fa-hdd-o pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-agents">
                    <a href="{{ url_for('host_agents', host_id=host.id) }}">
                        Agents<i class="fa fa-desktop pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-recovery-points">
                    <a href="{{ url_for('host_recovery_points', host_id=host.id) }}">
                        Recovery Points<i class="fa fa-th-large pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-task-history">
                    <a href="{{ url_for('host_task_history', host_id=host.id) }}">
                        Task History<i class="fa fa-tasks pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-users">
                    <a href="{{ url_for('host_users', host_id=host.id) }}">
                        Users<i class="fa fa-user pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-groups">
                    <a href="#">
                        Groups<i class="fa fa-users pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-volumes">
                    <a href="{{ url_for('host_volumes', host_id=host.id) }}">
                        Volumes<i class="fa fa-book pull-right"></i>
                    </a>
                </li>
                <li id="nav-se-host-configuration">
                    <a href="{{ url_for('host_configuration', host_id=host.id) }}">
                        Configuration<i class="fa fa-cogs pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                <strong>{{ host.hostname }}</strong>
                <small class="pull-right">
                {% block host_sub_header %}
                {% if host_lic_info is defined %}
                    CDP Version: {{ host_lic_info.version or 'UNKNOWN'}}
                {% else %}
                    User: {{ host.username }}
                {% endif %}
                {% endblock %}
                </small>
            </h1>
            {% block host_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
