{% extends 'base.html' %}
{% block title %}CDP Hosts{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>CDP Hosts</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>CDP Version</th>
                <th>Hostname</th>
                <th>Control Panel</th>
            </tr>
        </thead>
        <tbody>
        {% for host in NAV_hosts %}
            <tr>
                <td>NYI</td>
                <td><a href="{{ url_for('show_host', host_id=host.id) }}">{{ host.hostname }}</a></td>
                <td><a href="{{ host.external_link }}"><i class="fa fa-arrow-right fa-2x"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
