{% extends 'base.html' %}
{% block title %}CDP Host{% endblock %}
{% block content %}
    <h2 id="agents-list">Agents</h2>
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Hostname</th>
                        <th>Description</th>
                        <th>CDP Host</th>
                        <th>Recovery Point Limit</th>
                        <th>Database Module</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody id="agents-list-table">
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <br>
            <ul class="list-group">
            {% for host in NAV_hosts %}
                <li id="host-group-item-{{ host.id }}" class="list-group-item">
                    {{ host.hostname }}
                    <i id="host-spinner-{{ host.id }}" class="fa fa-spinner fa-pulse pull-right"></i>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block customjs %}
<script>
    /*
    var hosts = [
    {% for host in NAV_hosts %}
        {
            id: {{ host.id }},
            hostname: "{{ host.hostname }}",
            external_link: "{{ host.external_link }}"
        },
    {% endfor %}
    ];
    */
    {% for host in NAV_hosts %}
    var jqxhr = $.getJSON("{{ url_for('list_clients_json', host_id=host.id) }}",
        function(response_data) {
            $.each(response_data, function(policy_id, data) {
                if(!data.agent) {
                    $("#host-group-item-{{ host.id }}").addClass("list-group-item-warning");
                    return;
                }
                var row = $("<tr>").attr({id: policy_id}),
                    type = $("<td>"),
                    hostname = $("<td>").text(data.agent.hostname).attr({class: "agents-list-hostname"}),
                    description = $("<td>").text(data.agent.description),
                    cdp_host = $("<td>").html("<a href=\"{{ host.external_link }}\">{{ host.hostname }}</a>"),
                    rp_limit = $("<td>").text(data.policy.recoveryPointLimit),
                    db_module = $("<td>"),
                    state = $("<td>").text(data.policy.state);
                if(data.agent.databaseAddOnEnabled &&
                        data.policy.databaseInstanceList &&
                        data.policy.databaseInstanceList.length > 0) {
                    db_module.html("<span class=\"label label-success\">Yes</span>");
                } else {
                    db_module.html("<span class=\"label label-danger\">No</span>");
                }
                switch(data.agent.osType) {
                    case "LINUX":
                        $(type).append($("<i>").attr({title: data.agent.osType,
                            class: "fa fa -lg fa-linux"}));
                        break;
                    default:
                        $(type).append($("<i>").attr({title: data.agent.osType,
                            class: "fa fa -lg fa-question-circle"}));
                }
                switch(data.policy.state) {
                    case "ERROR":
                        $(row).attr({class: "danger"});
                        break;
                    case "ALERT":
                        $(row).attr({class: "warning"});
                        break;
                    case "OK":
                        $(row).attr({class: "success"});
                        break;
                }
                if(!data.policy.enabled) {
                    $(row.attr({class: "default"}));
                }

                $.each([type, hostname, description, cdp_host, rp_limit, db_module, state],
                    function(i, v) {
                        $(row).append(v);
                    });
                $(row).appendTo($("#agents-list-table"));
            });

            $("#host-group-item-{{ host.id }}").addClass("list-group-item-success");
        }
    ).fail(function() {
        $("#host-group-item-{{ host.id }}").addClass("list-group-item-danger");
    }).always(function() {
        $("#host-spinner-{{ host.id }}").hide();
    });
    {% endfor %}
    $(function () {
        addCollectionFilter($("#agents-list"), $("#agents-list-table"), "tr>td.agents-list-hostname")
    })
</script>
{% endblock %}
