{% extends 'host_base.html' %}
{% set active_subnav_element = '#nav-se-host-policies' %}
{% block title %}{{ policy.name }} - {{ super() }}{% endblock %}
{% block host_sub_header %}{{ policy.name }}{% endblock %}
{% block host_content %}
<div class="row">
    <div class="row col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Policy</div>
            <div class="panel-body">
                <pre>{{ policy }}</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
