{% extends 'base.html' %}
{% block title %}{{ host.hostname }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ host.hostname }}</h1>
    </div>
    <h2>Server Information</h2>
    <div class="row">
        <div class="col-md-12 well">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Server Version</td>
                        <td>{{ host_lic_info.version or 'UNKNOWN'}}</td>
                    </tr>
                    <tr>
                        <td>Physical License Usage</td>
                        <td>{{ host_lic_info.currentAgentCount }} / {{ host_lic_info.licenseAgentCount }}</td>
                    </tr>
                    <tr>
                        <td>Virtual License Usage</td>
                        <td>{{ host_lic_info.currentVirtualAgentCount }} / {{ host_lic_info.licenseVirtualAgentCount }}</td>
                    </tr>
                    <tr>
                        <td>Memory Usage</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                        aria-valuenow="{{ (100 - (host_info.freePhysicalMemory / host_info.totalPhysicalMemory))|round(0, 'floor') }}"
                                        aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ (100 - (host_info.freePhysicalMemory / host_info.totalPhysicalMemory))|round(1, 'floor') }}%;">
                                    {{ (100 - (host_info.freePhysicalMemory / host_info.totalPhysicalMemory))|round(1, 'floor') }}% of {{ host_info.totalPhysicalMemory|naturalsize }}
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Heap Usage</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                        aria-valuenow="{{ (100 * (host_info.heapMemoryInformation.used / host_info.heapMemoryInformation.maximum))|round(0, 'floor') }}"
                                        aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ (100 * (host_info.heapMemoryInformation.used / host_info.heapMemoryInformation.maximum))|round(0, 'floor') }}%;">
                                    {{ (100 * (host_info.heapMemoryInformation.used / host_info.heapMemoryInformation.maximum))|round(1, 'floor') }}% of {{ host_info.heapMemoryInformation.maximum|naturalsize }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Non-Heap Usage</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                        aria-valuenow="{{ (100 * (host_info.nonHeapMemoryInformation.used / host_info.nonHeapMemoryInformation.maximum))|round(0, 'floor') }}"
                                        aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ (100 * (host_info.nonHeapMemoryInformation.used / host_info.nonHeapMemoryInformation.maximum))|round(0, 'floor') }}%;">
                                    {{ (100 * (host_info.nonHeapMemoryInformation.used / host_info.nonHeapMemoryInformation.maximum))|round(1, 'floor') }}% of {{ host_info.nonHeapMemoryInformation.maximum|naturalsize }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>
        Agents
        <input id="agents-filter-input" class="pull-right" type="text" placeholder="Search..." data-column="2,3">
    </h2>
    <div class="row">
        <div class="col-md-12">
            <table id="agents-list-table" class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Hostname</th>
                        <th>Description</th>
                        <th>Agent Version</th>
                        <th>DB Addon Enabled</th>
                    </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>
                            {% if client.osType == 'LINUX' %}
                            <i title="{{ client.osType }}" class="fa fa-linux fa-lg"></i>
                            {% else %}
                            <i title="{{ client.osType }}" class="fa fa-question-circle fa-lg"></i>
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for('show_client', host_id=host.id, client_uuid=client.id) }}">{{ client.hostname }}</a></td>
                        <td>{{ client.description }}</td>
                        <td>{{ client.lastKnownAgentVersion }}</td>
                        <td>
                            {% if client.databaseAddOnEnabled %}
                            <span class="label label-success">Yes</span>
                            {% else %}
                            <span class="label label-danger">No</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block customjs %}
<script src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.tablesorter.widgets.js') }}"></script>
<script>
    $(function () {
        var table = $("#agents-list-table").tablesorter({
            sortList: [[1,0], [2,0]],
            widgets: ["filter"],
            widgetOptions: {
                filter_external: $("#agents-filter-input"),
                filter_columnFilters: false,
            }
        })
    });
</script>
{% endblock %}
